*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
height:100vh;
overflow:hidden;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
display:flex;
justify-content:center;
align-items:center;
color:white;
}

#loader,
#welcome{

position:absolute;

width:100%;
height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

transition:1s;

}

#welcome{

display:none;
text-align:center;

}

.gift{

font-size:90px;
animation:bounce 1s infinite;

}

.loading-bar{

width:350px;
height:14px;
background:rgba(255,255,255,.2);
border-radius:50px;
margin:30px 0;
overflow:hidden;

}

.progress{

height:100%;
width:0;
background:#00ffd5;
animation:load 4s linear forwards;

}

button{

margin-top:40px;
padding:18px 45px;

border:none;
border-radius:40px;

font-size:20px;
cursor:pointer;

background:#ff4d6d;
color:white;

transition:.3s;

}

button:hover{

transform:scale(1.08);

background:#ff1e4d;

}

@keyframes load{

from{
width:0;
}

to{
width:100%;
}

}

@keyframes bounce{

50%{

transform:translateY(-18px);

}

}
#giftBox{

font-size:120px;
cursor:pointer;
transition:.4s;

}

#giftBox:hover{

transform:scale(1.15);

}

#clickText{

margin-top:15px;
font-size:20px;

}

#birthdayMessage{

display:none;

text-align:center;

animation:fade 1.5s;

}

.shake{

animation:shake .6s;

}

@keyframes shake{

0%{transform:translateX(0);}
20%{transform:translateX(-8px);}
40%{transform:translateX(8px);}
60%{transform:translateX(-8px);}
80%{transform:translateX(8px);}
100%{transform:translateX(0);}

}

@keyframes fade{

from{

opacity:0;
transform:scale(.8);

}

to{

opacity:1;
transform:scale(1);

}

}

.confetti{

position:fixed;

font-size:30px;

animation:fall 3s linear forwards;

}

@keyframes fall{

0%{

transform:translateY(-100px);

opacity:1;

}

100%{

transform:translateY(110vh);

opacity:0;

}

}
#letterBtn{

margin-top:30px;

padding:15px 35px;

font-size:20px;

border:none;

border-radius:50px;

cursor:pointer;

background:#ff4d6d;

color:white;

transition:.3s;

}

#letterBtn:hover{

transform:scale(1.08);

}

#letterBox{

display:none;

width:700px;

max-width:90%;

margin:35px auto;

padding:30px;

background:white;

color:#333;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.35);

animation:fade 1s;

}

#letterBox h2{

text-align:center;

margin-bottom:20px;

color:#ff4d6d;

}

#letterText{

line-height:1.9;

font-size:18px;

}
#gallery{

display:none;

text-align:center;

margin-top:40px;

}

#gallery h2{

margin-bottom:25px;

}

#galleryImage{

width:420px;

max-width:90%;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.4);

transition:.5s;

}

#gallery button{

margin:20px 10px;

}